<header>
  <nav>
    <a href="/">All Time Draft</a>
    <ul>
      <li><a href="/athletes">Athletes</a></li>
      <!-- <li><a href="/athletes/new">Add Athlete</a></li> -->
    </ul>
  </nav>
</header>
