<!-- <h2>New Athlete</h2>
<form action="/athletes" method="POST">
  <-- use ejs syntax here: include('_form_fields')% =>
  <a href="/athletes">Cancel</a>
  <button type="submit">Create</button>
</form> -->
